#form-criteria-page {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: white;
  text-align: center;

  /* 가운데 중앙 정렬 */
  display: table;
}

#form-criteria-page-container {
  /* 가운데 중앙 정렬 */
  display: table-cell;
  vertical-align: middle;
}

#form-criteria-container {
  width: 30%;
  margin: auto;
}

#criteria2-list {
  width: 30%;
  max-height: 30%;

  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;

  overflow: auto;
}
