/* parent tags */
html {
  height: 100%;
}

body {
  height: 100vh;
  font-size: 1rem;
}

header {
  height: 5%;
}

main {
  height: 90%;
}

main > section, main > section > .container {
  height: 100%;
}

footer {
  height: 5%;
}

/* default */
.row {
  height: 100%;
}

.centered-container {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.margin-right {
    margin-right: 5px;
}

.video-file-container, .json-file-container, #main-frame, .input-frame-index-group {
  background-color: white;
}

.col-2, #video-explorer, #button-collection {
  border: 1px solid darkgray;
}

/* header */

/* main */
/* main - 'List files' */
#file-explorer {
  padding: 5px;
}

.video-file-list-container {
  height: 50%;
}

.video-file-list-title {
  height: 10%;
}

.video-file-container {
  height: 90%; 
}

#video-file-list > li {
  cursor: pointer;
}

#video-file-list > li:hover {
  color: red;
}

.video-file-container, .json-file-container {
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
}

.json-file-list-container {
  height: 50%;
}

.json-file-list-title {
  height: 10%;
}

.json-file-container {
  height: 80%; 
}

#json-file-create-btn {
  height: 100%;
}

/* main - 'Video visualization' */
#video-explorer {
  height: 100%;
  padding: 5px;
}

.main-frame-container {
  height: 75%;
}

#main-frame-title {
  height: 5%;
}

#main-frame {
  height: 95%; 
  text-align: center;
  background-color: black;
  color: white;
}

#main-frama-number-container {
  height: 15%;
}

#frame-number {
  display: block;
  font-weight: bold;
  font-size: 3rem;
}

#main-frame-mask-container {
  height: 85%;
  overflow-x: auto; 
  overflow-y: auto;
}

#main-frame-mask {
  width: 80%;
  height: 95%;
  border: 1px dotted gray;
}

.sub-frame-container {
  height: 10%;
}

#sub-frame {
  padding: 5px;
  height: 100%;
  overflow-x: auto; 
  overflow-y: auto; 
  white-space: nowrap;
}

#sub-frame-button {
  height: 15%;
  text-align: center;
}

#sub-frame-input-container {
  padding-top: 1%;
  padding-bottom: 1%;
  height: 60%;
}

#start-frame-input {
  height: 100%;
  text-align: center;
}

#end-frame-input {
  height: 100%;
  text-align: center;
}

.sub-frame-success-container {
  height: 40%;
}

#sub-frame-success {
  height: 100%;
}

/* main - 'Selected loading section' */
#button-collection {
  padding: 5px;
}

.button-collection-title {
  height: 5%;
}

.input-frame-index-group {
  height: 65%;
  overflow-x: auto;
}

.complete-title {
  height: 5%;
}

.complete-button {
  height: 25%;
}

#complete-submit{
  height: 100%;
}

/* footer */
#company-info{
  padding-top: 5px;
}