html {
    background: #fafafa;
    height: 100%;
}

button,
canvas,
img {
    margin: 5px !important;
}

.centered-container {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.centered-text {
    text-align: center;
}

.margin-right {
    margin-right: 5px;
}

/* layout */
.container {
    height: 90vh;
}

.row {
  height: 100%
}

/* file explorer */
.col-2 {
  height: 100%;
  border: 1px solid black;
  padding: 5px;
}

.file-list-title {
  height: 5%;
}

#file-list {
  height: 45%; 
  background-color: aquamarine;
}

.completed-file-list-title {
  height: 5%;
}

#completed-file-list {
  height: 45%; 
  background-color: aqua;
}

/* video explorer */
#video-explorer {
  border: 1px solid black; 
  padding: 5px;
}

#main-frame-title {
  height: 5%;
}

#main-frame {
  height: 75%; 
  background-color: aquamarine;
  text-align: center;
  overflow-x: auto; 
  overflow-y: auto; 
}

#frame-number {
  display: block;
  font-weight: bold;
  font-size: 3rem;
}

#main-frame-mask {
  width: 95%;
}

#sub-frame-title {
  height: 5%;
}

#sub-frame {
  height: 15%; 
  background-color: aqua; 
  overflow-x: auto; 
  overflow-y: hidden; 
  white-space: nowrap;
}

/* button collection */
#botton-collection {
  border: 1px solid black;
  padding: 5px;
}
