#frame-index-container > .container {
  height: 100%;
}

#frame-index-container .row {
  height: 100%;
}

#frame-index-container .col-6 {
  padding: 0;
}

#start-frame-input, #end-frame-input {
  height: 100%;
  width: 100%;
  text-align: center;
}

#start-frame-input-container, #end-frame-input-container {
  max-width: 100%;
  height: 100%;
}

#start-frame-input-container div, #end-frame-input-container div {
  padding: 0%;
}
