#frame-index-container > .container {
  height: 100%;
}

#frame-index-container .row {
  height: 100%;
}

#frame-index-container .col-6 {
  padding: 0;
}

#start-frame-input, #end-frame-input {
  font-size: 2vw;
  height: 100%;
  width: 100%;
  text-align: center;
}

#start-frame-input {
  background-color: lightgreen;
}

#end-frame-input {
  background-color: lightcoral;
}
