.criteria {
  display: none;
}

.criteria.is-shown {
  display: inline;
}

#criteria-temp-list {
  padding: 0;
}

.criteria-temp-text {
  overflow-x: auto;
}

.criteria-temp-text::-webkit-scrollbar {
  display:none;
}

#criteria-insert-success {
  color: seagreen;
}
