#header-container {
  min-width: 100%;
  height: 5vh;
  border-bottom: 1px solid lightgray;
}

#header-container > .row {
  min-height: 100%;
}

#tutorial-container, #back-container {
  padding: 0;
}

#path-info-container {
  overflow-x: overlay;
  text-align: left;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

#path-info-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

#tutorial-container, #back-container {
  margin: auto;
}

#tutorial-button {
  height: 90%;
  width: 98%;
  font-weight: bolder;
  font-size: 2vw;
  padding: 0;
}

#back-button {
  height: 90%;
  width: 98%;
  font-weight: bolder;
  font-size: 2vw;
  padding: 0;
}

