#header-container {
  min-width: 100%;
  height: 5vh;
  border-bottom: 1px solid black;
}

#header-container > .row {
  min-height: 100%;
}

#header-container > .row > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#tutorial-container:hover {
  background-color: lightgray;
}

#open-directory-container {
  padding: 0;
}

#open-directory {
  height: 90%;
  width: 95%;
}

#create-file-container:hover {
  background-color: darkorange;
}

#open-file-container:hover {
  background-color: yellow;
}

#create-criteria-container:hover {
  background-color: yellowgreen;
}

#tutorial-container, #open-directory-container, #open-file-container, #create-file-container {
  border-right: 1px solid black;
  word-break: break-all;
}

#tutorial-container, #open-directory-container, #open-file-container, #create-file-container, #tool-prograss {
  border-right: 1px solid black;
}

#open-directory, #open-json, #create-criteria, #create-json {
  cursor: pointer;
}
